<footer class="container-fluid alert-info">
    <div class="row col-12">
            <div class="col-6 d-block text-center mt-4">
                <a><h1 class="fw-bold text-uppercase" style="color:#2e2e2e">Mercado Web</h1></a>
            </div>

            <div class="col-6 d-block text-center mb-3">
                <br>
                <a><i class="medium material-icons btn btn-floating m-1" style="background-color: #0dcaf0; color:#2e2e2e">local_cafe</i></a>
                <a><i class="medium material-icons btn btn-floating m-1" style="background-color: #0dcaf0; color:#2e2e2e">local_dining</i></i></a>
                <a><i class="medium material-icons btn btn-floating m-1" style="background-color: #0dcaf0; color:#2e2e2e">local_convenience_store</i></i></a>
                <spam></spam>             

            </div>
    </div>
</footer>